<div *ngIf="hours" class="card">
  <div class="card-body">
    <div class="form-row">
      <div class="col">
        <label for="monday_{{uuid}}">
          <input [disabled]="isDisabled" type="checkbox" name="monday_{{uuid}}" id="monday_{{uuid}}" [(ngModel)]="hours.monday">
          <small>
            Monday
          </small>
        </label>
      </div>
      <div class="col">
        <label for="tuesday_{{uuid}}">
          <input [disabled]="isDisabled" type="checkbox" name="tuesday_{{uuid}}" id="tuesday_{{uuid}}" [(ngModel)]="hours.tuesday">
          <small>
            Tuesday
          </small>
        </label>
      </div>
      <div class="col">
        <label for="wednesday_{{uuid}}">
          <input [disabled]="isDisabled" type="checkbox" name="wednesday_{{uuid}}" id="wednesday_{{uuid}}" [(ngModel)]="hours.wednesday">
          <small>
            Wednesday
          </small>
        </label>
      </div>
      <div class="col">
        <label for="thursday_{{uuid}}">
          <input [disabled]="isDisabled" type="checkbox" name="thursday_{{uuid}}" id="thursday_{{uuid}}" [(ngModel)]="hours.thursday">
          <small>
            Thursday
          </small>
        </label>
      </div>
      <div class="col">
        <label for="friday_{{uuid}}">
          <input [disabled]="isDisabled" type="checkbox" name="friday_{{uuid}}" id="friday_{{uuid}}" [(ngModel)]="hours.friday">
          <small>
            Friday
          </small>
        </label>
      </div>
      <div class="col">
        <label for="saturday_{{uuid}}">
          <input [disabled]="isDisabled" type="checkbox" name="saturday_{{uuid}}" id="saturday_{{uuid}}" [(ngModel)]="hours.saturday">
          <small>
            Saturday
          </small>
        </label>
      </div>
      <div class="col">
        <label for="sunday_{{uuid}}">
          <input [disabled]="isDisabled" type="checkbox" name="sunday_{{uuid}}" id="sunday_{{uuid}}" [(ngModel)]="hours.sunday">
          <small>
            Sunday
          </small>
        </label>
      </div>
    </div>
    <div class="form-row form-inline">
      <div class="form-group col-md-6">
        <label for="open">Open</label>
        <input [disabled]="isDisabled" [(ngModel)]="hours.openMask" type="text" mask="00 : 00" class="form-control ml-2 time-input" id="open_{{uuid}}" placeholder="00 : 00" [pattern]="timeRegex" (input)="formHelper.maskToTime($event.target, hours, 'open')">
        <select [disabled]="isDisabled" [(ngModel)]="hours.isAMOpen" class="form-control">
          <option [ngValue]="true">AM</option>
          <option [ngValue]="false">PM</option>
        </select>
        <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(hours.openMask, timeRegex)">
          Try Again
        </div>

      </div>
      <div class="form-group col-md-6">
        <label for="closed">Closed</label>
        <input [disabled]="isDisabled" [(ngModel)]="hours.closedMask" type="text" mask="00 : 00" class="form-control ml-2 time-input" id="closed{{uuid}}" placeholder="00 : 00" [pattern]="timeRegex" (input)="formHelper.maskToTime($event.target, hours, 'closed')">
        <select [disabled]="isDisabled" [(ngModel)]="hours.isAMClosed" class="form-control">
          <option [ngValue]="true">AM</option>
          <option [ngValue]="false">PM</option>
        </select>
        <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedback(hours.closedMask, timeRegex)">
          Try Again
        </div>
      </div>
    </div>


  </div>
</div>