<div>
    <p>
        Through the Ministry of Public Safety and Solicitor General, program funding of an
        approved amount (see below) is available for Community Accountability Programs (CAPs)
        for the next Fiscal Year. Only existing CAPs are eligible to apply.
    </p>

    <p>
        Program funding may be used to offset the costs associated with items such as volunteer
        training, volunteer recognition, and administrative and operational support.
    </p>

    <h2>
        Funding Criteria
    </h2>

    <p>
        All Community Accountability Programs must:
    </p>

    <ul>
        <li>be a volunteer community-based program</li>
        <li>adhere to the Ministry's Framework for Restorative Justice </li>
        <li>demonstrate community and criminal justice outreach, including to victim organizations</li>
        <li>accept referrals for diversion of criminal offences as appropriate and as the Contractor's capacity permits</li>
        <li>not use ministry funding for cases involving sexual assault, spousal assault, and hate motivated crimes</li>
        <li>conduct criminal record checks on all facilitators</li>
        <li>maintain strict confidentiality of the victim and offender</li>
    </ul>
</div>