<div class="container upload-documents-page-container">
  <div class="loading-indicator" *ngIf="downloadingDocument">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
  <div class="row" [class.dark-overlay]="downloadingDocument">
    <div class="col-md-4">
      <section class="application-nav sticky-top">
        <div style="max-height: 90%;">
          <div class="card organization-box" *ngIf="trans">
            <div class="card-header">
              {{ trans.organizationName ||'Organization'}}
            </div>
            <div class="card-body" *ngIf="isContractUpload">
              <p class="card-text">
                <strong>Contract No</strong><br>
                {{contractNumber}}
              </p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary mt-2" (click)="exit()" [class.is-disabled]="downloadingDocument">Exit</button>
      </section>
    </div>
    <div class="col">
      <div>
        <div class="page-header">
          <h1>{{isContractUpload ? "Upload Documents" : "Upload General Documents"}}</h1>
        </div>
        <div>

          <div class="list-group list-container mb-2">
            <div class="row list-group-item" *ngFor="let doc of documentsToAdd; let i=index">
              <div class="col-md-3">
                <span class="file-name-container">
                  {{doc.filename}}
                </span>
              </div>
              <div class="col-md-9 file-type-col">
                <span class="file-type-container">
                  <label class="file-type-label">File Type</label>
                  <select class="form-control file-type-select" [(ngModel)]="doc.subject" #doctype="ngModel">
                    <option *ngFor="let type of document_types" [value]="type">{{type}}</option>
                  </select>
                  <ng-container *ngIf="doc.subject === 'Other'">
                    <input type="text" class="form-control other-input" [(ngModel)]="doc.subjectOther" #city="ngModel">
                  </ng-container>
                </span>
                <span (click)="removeFile(i)">
                  <i class="fas fa-times-circle text-danger"></i>
                </span>
              </div>
            </div>
          </div>

          <input #files id="files" type="file" style="display: none" (change)="onFilesAdded($event.target.files)" multiple>
          <button type="button" class="btn btn-warning" (click)="fakeBrowseClick()" [class.is-disabled]="downloadingDocument">Add File</button>
          <button class="btn btn-warning ml-2" [class.is-disabled]="documentsToAdd.length == 0 || saving || downloadingDocument" (click)="upload()">Upload Files</button>
        </div>
      </div>

      <div class="row existing-documents-row">
        <div class="col-md-12">
          <h4>Existing Documents</h4>
          <ng-container>
            <table class="table table-sm table-striped">
              <thead class="thead">
                <tr>
                  <th scope="col">Your Document</th>
                  <th scope="col">Available Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="loadingDocuments">
                  <td>Loading...</td>
                  <td><i class="text-secondary spinner-border spinner-border-sm"></i></td>
                </tr>
                <tr *ngFor="let doc of existingDocuments; let i=index;">
                  <td><span class="download-link" (click)="download(doc)">{{doc.filename}}</span></td>
                  <td>
                    {{doc.overwritetime | date:'yyyy-MM-dd'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="row min-row-height">
    <div class="col-md-12">
    </div>
  </div>
</div>