<ul *ngIf="stepperElements && currentStepperElement" class="list-group">
  <li *ngFor="let item of stepperElements" class="stepper-item list-group-item d-flex justify-content-between align-items-center" [class.active]="item.id === currentStepperElement.id" (click)="onNavigate(item.id)">
    <span>
      {{item.itemName}}<br>
      <small [class]="levels[item.formState][1] + ' ' + levels[item.formState][3]">
        {{levels[item.formState][0]}}
      </small>
    </span>

    <span [class.stepper-selected]="item.id===currentStepperElement.id">
        <i [class]="levels[item.formState][1] +' '+levels[item.formState][2]"></i>
    </span>
  </li>
</ul>