<div class="card">
  <table>
    <tr>
      <td style="vertical-align:top; width: 300px">
        <p class="card-text" style="border: 1px; border-style:solid; border-color:black; padding: 1em;">
          Organization: <b>BC Social Work Societies</b><br />
          Contract No: <b>1097583-20</b>
        </p>
      </td>
      <td style="vertical-align:top">
        <div class="card-body">
          <h5 class="card-title">Message</h5>
          <h6 class="card-subtitle mb-2 text-muted">Received on Jan 1, 9:00am Pacific Time</h6>
          <p class="card-text" style="border: 1px; border-style:solid; border-color:black; padding: 1em;">
            Please ensure you update any changes from your organization regarding personnel changes and address changes<br /><br />Kevin
          </p>
        </div>
        <div class="card-body" style="text-align:right">
          <button class="btn btn-primary ml-2" (click)="onExit()">Close</button>
        </div>
      </td>
    </tr>
  </table>
</div>
