<ul *ngIf="persons" class="list-group mb-2">
  <li *ngFor="let person of persons" class="list-group-item d-flex justify-content-between align-items-center">
    {{nameAssemble(person.firstName,person.middleName,person.lastName)}}, {{person.title}}
    <span *ngIf="!isDisabled" (click)="removePerson(person.personId)">
      <i class="fas fa-times-circle text-danger"></i>
    </span>
  </li>
</ul>
<div *ngIf="personsList" class="form-group">
  <label for="personPickerList">{{label}}</label>
  <select [disabled]="isDisabled" class="form-control" name="personPickerList" id="personPickerList" (change)="addPerson(selectedPerson)" [(ngModel)]="selectedPerson">
    <option [value]="null">--</option>
    <option *ngFor="let person of personsList" [value]="person.personId">
      {{nameAssemble(person.firstName,person.middleName,person.lastName)}}, {{person.title}}
    </option>
  </select>
</div>