<div class="card" *ngIf="trans">
  <div class="card-header">
    {{ trans.organizationName ||'Organization'}}
  </div>

  <!-- card for dashboard -->
  <div class="card-body" *ngIf="type === 'dashboard'">
    <p class="card-text">
      <strong>Phone</strong><br>
      <a href="tel:{{trans.contactInformation.phoneNumber}}">{{trans.contactInformation.phoneNumber | phone}}</a>
    </p>
    <p class="card-text">
      <strong>Email</strong><br>
      <a href="mailto:{{trans.contactInformation.emailAddress}}">{{trans.contactInformation.emailAddress}}</a>
    </p>
  </div>

  <!-- card for profile page -->
  <div class="card-body" *ngIf="type === 'profile'">
    <p class="card-text">
      <strong>Phone</strong><br>
      <a href="tel:{{trans.contactInformation.phoneNumber}}">{{trans.contactInformation.phoneNumber | phone}}</a>
    </p>
    <p class="card-text">
      <strong>Email</strong><br>
      <a href="mailto:{{trans.contactInformation.emailAddress}}">{{trans.contactInformation.emailAddress}}</a>
    </p>
    <p class="card-text" *ngIf="trans.contactInformation.executiveContact">
      <strong>Contractor Contact</strong><br>
      {{nameAssemble(trans.contactInformation.executiveContact.firstName,trans.contactInformation.executiveContact.middleName,trans.contactInformation.executiveContact.lastName)}}
    </p>
    <p class="card-text" *ngIf="trans.contactInformation.hasBoardContact && trans.contactInformation.boardContact">
      <strong>Board Contact</strong><br>
      {{nameAssemble(trans.contactInformation.boardContact.firstName,trans.contactInformation.boardContact.middleName,trans.contactInformation.boardContact.lastName)}}
    </p>
  </div>

  <!-- card for program contact page -->
  <div class="card-body" *ngIf="type === 'program-contact'">
    <p class="card-text">
      <strong>Contract No</strong><br>
      {{contractNumber}}
    </p>
    <p class="card-text">
      <strong>Phone</strong><br>
      <a href="tel:{{trans.contactInformation.phoneNumber}}">{{trans.contactInformation.phoneNumber | phone}}</a>
    </p>
    <p class="card-text">
      <strong>Email</strong><br>
      <a href="mailto:{{trans.contactInformation.emailAddress}}">{{trans.contactInformation.emailAddress}}</a>
    </p>
    <p class="card-text" *ngIf="programInfo.name">
      <strong>Program</strong><br>
      {{programInfo.name}}
    </p>
    <p class="card-text" *ngIf="programInfo.programContact && (programInfo.programContact.firstName || programInfo.programContact.middleName || programInfo.programContact.lastName)">
      <strong>Program Contact</strong><br>
      {{nameAssemble(programInfo.programContact.firstName,programInfo.programContact.middleName,programInfo.programContact.lastName)}}
    </p>
  </div>

  <div class="card-footer" *ngIf="type === 'dashboard'">
    <a [routerLink]="'/authenticated/profile/'" class="btn btn-primary btn-match-width">Update Organization Profile</a>
    <a [routerLink]="'/authenticated/personnel/'" class="btn btn-primary ml-2 btn-match-width">Update Agency Staff</a>
    <a [class.is-disabled]="userRole === Roles.ProgramStaff" [routerLink]="'/authenticated/upload_document/'" class="btn btn-primary ml-2 btn-match-width">Upload General Documents</a>
  </div>
</div>