<h2 class="blue-header">Labour Compliance</h2>

<div class="form-group">
  <label for="hrPolicies">
    Please click to confirm your organization's compliance with the <i>Employment Standards Act of BC</i>, the <i>BC Human Rights Code</i> and the <i>Workers Compensation Act (WorkSafe BC)</i>
  </label>
  <div class="form-check">
    <input [disabled]="isDisabled" #compliantEmploymentStandardsAct="ngModel" [(ngModel)]="transmogrifierProgramApplication.administrativeInformation.compliantEmploymentStandardsAct" class="form-check-input" type="checkbox" value="" id="compliantEmploymentStandardsAct" name="compliantEmploymentStandardsAct" required>
    <label class="form-check-label" for="compliantEmploymentStandardsAct">
      Employment Standards Act of BC?
    </label>
  </div>
  <div class="form-check">
    <input [disabled]="isDisabled" #compliantHumanRights="ngModel" [(ngModel)]="transmogrifierProgramApplication.administrativeInformation.compliantHumanRights" class="form-check-input" type="checkbox" value="" id="compliantHumanRights" name="compliantHumanRights" required>
    <label class="form-check-label" for="compliantHumanRights">
      BC's Human Rights Code?
    </label>
  </div>
  <div class="form-check">
    <input [disabled]="isDisabled" #compliantWorkersCompensation="ngModel" [(ngModel)]="transmogrifierProgramApplication.administrativeInformation.compliantWorkersCompensation" class="form-check-input" type="checkbox" value="" id="compliantWorkersCompensation" name="compliantWorkersCompensation"> <label class="form-check-label" for="compliantWorkersCompensation" required>
      Workers Compensation Act (WorkSafe BC)?
    </label>
  </div>
</div>

<label>
  Are the staff of the program for which you are applying unionized?
</label>
<div class="form-group">
  <div class="form-check form-check-inline">
    <input [disabled]="isDisabled" #staffUnionized="ngModel" [(ngModel)]="transmogrifierProgramApplication.administrativeInformation.staffUnionized" class="form-check-input" type="radio" name="staffUnionized" id="staffUnionized1" [value]="true">
    <label class="form-check-label" for="staffUnionized1">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input [disabled]="isDisabled" #staffUnionized="ngModel" [(ngModel)]="transmogrifierProgramApplication.administrativeInformation.staffUnionized" class="form-check-input" type="radio" name="staffUnionized" id="staffUnionized2" [value]="false">
    <label class="form-check-label" for="staffUnionized2">No</label>
  </div>
</div>
<div *ngIf="transmogrifierProgramApplication.administrativeInformation.staffUnionized" class="form-group">
  <label for="staffUnion">Which union?</label>
  <input [disabled]="isDisabled" #staffUnion="ngModel" [(ngModel)]="transmogrifierProgramApplication.administrativeInformation.staffUnion" type="text" class="form-control" id="staffUnion" name="staffUnion" #staffUnion="ngModel" placeholder="i.e. CUPE">
  <div class="valid-feedback" [hidden]="showValidFeedback(staffUnion)" style="display: inherit">
    Ok
  </div>
  <div class="invalid-feedback" [hidden]="showInvalidFeedback(staffUnion)" style="display: inherit">
    Union name is
  </div>
</div>

<div class="form-group">
  <label for="ccseaMemberType">Is your organization a member of the Community Social Services Employers Association of BC (CSSEA)</label>
  <input disabled [value]="transmogrifierProgramApplication.administrativeInformation.ccseaMemberType || 'Unknown'" type="text" class="form-control" id="ccseaMemberType" name="ccseaMemberType" disabled>
  <span class="cssea-info-message">*If your CSSEA membership status has changed, please contact your Program Manager to have your status updated.</span>
</div>

<div class="form-check">
  <input [disabled]="isDisabled" #awareOfCriminalRecordCheckRequirement="ngModel" [(ngModel)]="transmogrifierProgramApplication.administrativeInformation.awareOfCriminalRecordCheckRequirement" class="form-check-input" type="checkbox" value="" id="awareOfCriminalRecordCheckRequirement" name="awareOfCriminalRecordCheckRequirement" required>
  <label class="form-check-label" for="awareOfCriminalRecordCheckRequirement">
    Our agency is aware, that all Ministry-funded program staff require a criminal record check.
  </label>
</div>