<div>
    <h2 class="blue-header">Program Information</h2>
    <div class="form-group">
        <label for="programLocation">Program Location</label>
        <input [disabled]="isCompleted" class="form-control" type="text" [ngModel]="program.programLocation" id="programLocation" name="programLocation" disabled>
    </div>
    <div class="form-group">
        <label for="serviceArea">Program Type</label>
        <input [disabled]="isCompleted" class="form-control" type="text" [ngModel]="program.programTypeName" id="programTypeName" name="programTypeName" disabled>
    </div>
    <div class="form-group">
        <label for="maxAmount">Maximum Amount that you could apply for</label>
        <input [disabled]="isCompleted" class="form-control" type="text" prefix="$" mask="separator.2" thousandSeparator="," [(ngModel)]="program.maxAmountMask" id="maxAmount" name="maxAmount" disabled [validation]="false">
    </div>
    <div class="form-group">
        <label for="applicationAmount">Please indicate the amount that you will be applying for</label>
        <input [disabled]="isCompleted" class="form-control" type="text" prefix="$" mask="separator.2" thousandSeparator="," separatorLimit="10000000" (input)="formHelper.moneyMaskToNumber($event.target, program, 'applicationAmount', program.maxAmount)" [(ngModel)]="program.applicationAmountMask" id="applicationAmount" name="applicationAmount">
    </div>

    <div>
        <label><strong>Which types of models does your program use?</strong> (check all that apply)</label>
        <div class="form-group flex-container">
            <div *ngFor="let model of MODEL_LIST; let i=index" class="col-md-6 form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="model.isChecked" [name]="'model'+i" [id]="'model'+i" [checked]="(model.isChecked ? 'checked' : '')" (change)="selectedModelChange()" />
                <label for="model{{i}}" class="form-check-label">{{model.label}}</label>
            </div>
            <div *ngIf="MODEL_LIST[6].isChecked">
                <label for="otherModel">{{OTHER_MODEL.label}}</label>
                <input [disabled]="isCompleted" class="form-control" type="text" [(ngModel)]="program.otherModel" id="otherModel" name="otherModel">
            </div>
        </div>
    </div>

    <span class="mb-4">
        <h2 class="blue-header">Program Contact</h2>
        <app-person-picker [isDisabled]="isCompleted" [title]="'Please select a program contact.'" [(person)]="program.programContact" [idNum]="0">
        </app-person-picker>
    </span>
    <h2 class="blue-header mt-2">Advisory Committee</h2>
    <app-person-picker-list [isDisabled]="isCompleted" [label]="'Who is on your Advisory Committee / Board and what is their affiliation? (e.g. school board, community member, victim service worker, parent of participant, local advocate, etc.)'" [(personsObj)]="personsObj" (personsChange)="onProgramStaffChange($event)"></app-person-picker-list>
    <button *ngIf="!isCompleted" class="btn btn-primary mt-2 btn-add-program-staff" (click)="showAddProgramStaffDialog()">Add Missing Program Staff</button>



    <h2 class="blue-header mt-2">Program Evaluation</h2>
    <div>
        <label>
            Has your program undertaken any evaluation efforts recently?
        </label>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input [disabled]="isCompleted" [(ngModel)]="program.evaluation" class="form-check-input" type="radio" name="evaluation" id="evaluation1" [value]="true">
                <label class="form-check-label" for="evaluation1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input [disabled]="isCompleted" [(ngModel)]="program.evaluation" class="form-check-input" type="radio" name="evaluation" id="evaluation2" [value]="false">
                <label class="form-check-label" for="evaluation2">No</label>
            </div>
        </div>
        <div *ngIf="program.evaluation === true" class="form-group">
            <label for="evaluationDescription">Please describe</label>
            <input [disabled]="isCompleted" #evaluationDescription="ngModel" [(ngModel)]="program.evaluationDescription" type="text" class="form-control" id="evaluationDescription" name="evaluationDescription">
            <div class="invalid-feedback" [hidden]="formHelper.showInvalidFeedbackOld(evaluationDescription)" style="display: inherit">
                Enter description
            </div>
        </div>
        <label for="additionalComments">Additional Comment Regarding Program Operations</label>
        <input [disabled]="isCompleted" #additionalComments="ngModel" [(ngModel)]="program.additionalComments" type="text" class="form-control" id="additionalComments" name="additionalComments">
    </div>



</div>